body{
    background-color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
    display: flex;
    justify-content: center;
}
.row{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: auto ;
    background-color: white;
}
.col-md-22{
    height: 200px;
    width: 550px;
    
}
h1{
    font-weight: bolder;
    font-size: 220%;
}
h4{
    font-weight: normal;
    font-size: 140%;
}
.hello2{
    display: flex;
   
    color: purple;
}
.btn-prim{
    color:white;
    display: flex;
    justify-content: center;
    background-color: purple ;
    padding:3%;
    border: none;
    font-weight: bolder;
    font-size: 125%;
    height: 2%;
    width: 50%;
}
.navbar-light{
    background-color: white;
    overflow: hidden;
}
.btn-one{
    background-color: white;
    font-weight: normal;
    font-size:120%;
    width:10%
}
.btn-two{
    background-color: white;
    font-weight: normal;
    font-size: 120%;
    width:10%;
}
.btn-three{
    background-color: white;
    border: 1%;
    border-color: black;
    width: 8%;
    padding:1%;
    font-weight: bold;
    font-size: 125%;
}
.btn-four{
    background-color: purple;
    color: white;
    width:20%;
    padding:1%;
    font-size: 120%;
    font-weight: bold;

}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
